html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  width: 726px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  margin-top: 20px;
  font-size: 32px;
  text-align: center;
}

.subheader {
  font-size: 16px;
  text-align: center;
}

.input-text-area {
  width: 100%;
  height: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 10px;
}

.keyboard-container {
  width: 100%;
  background-color: #888888;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.keyboard-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.key {
  background-color: #444444;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;

  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.key:hover {
  background-color: rgb(84, 106, 49);
}

.AltLeft,
.AltRight,
.ArrowUp,
.ArrowLeft,
.ArrowDown,
.ArrowRight,
.Backspace,
.CapsLock,
.ControlLeft,
.ControlRight,
.Delete,
.Enter,
.ShiftLeft,
.ShiftRight,
.Tab,
.MetaLeft {
  font-weight: 600;
  letter-spacing: 1;
  background-color: #222222;
}

.CapsLock,
.ShiftLeft,
.Backspace {
  width: 100px;
}

.Delete {
  width: 44px;
}

.Tab {
  width: 50px;
}

.Space {
  width: 330px;
}

.Enter,
.ShiftRight {
  width: 86px;
}

.key.active,
.key:active {
  background-color: rgb(115, 184, 10);
  border-radius: 100px;
}

.hidden {
  display: none;
}
